
<div class="bg-light border-right" id="sidebar-wrapper">
	<div class="sidebar-heading">Disputatio</div>
	<div class="list-group list-group-flush">
		<a href="/disputatio/dashboard" class="list-group-item list-group-item-action bg-light" id="side-dashboard">Dashboard <span class="badge badge-info"></span></a>
		<a href="/chats/globalchat" class="list-group-item list-group-item-action bg-light" id="side-global">Global Chat <span class="badge badge-info"></span></a>
		<a href="/chats/groups" class="list-group-item list-group-item-action bg-light" id="side-groups">Groups <span class="badge badge-info"></span></a>
		<a href="/chats/conversations" class="list-group-item list-group-item-action bg-light" id="side-convos">Conversations <span class="badge badge-info"></span></a>
	</div>
</div>