
<div class="bg-light border-right" id="sidebar-wrapper">
	<div class="sidebar-heading">Disputatio</div>
	<div class="list-group list-group-flush">
		<a href="/disputatio/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
		<a href="/chats/globalchat" class="list-group-item list-group-item-action bg-light">Global Chat</a>
		<a href="/chats/mygroups" class="list-group-item list-group-item-action bg-light">My Groups</a>
		<a href="/chats/conversations" class="list-group-item list-group-item-action bg-light">Conversations</a>
	</div>
</div>