
<div class="d-flex" id="wrapper">
	<%- include('./partials/side_nav.ejs') %>
	<div id="page-content-wrapper">
		<%- include('./partials/top_nav.ejs') %>
		<div class="container" style="background:rgba(191,172,172,.5);min-height:100vh">
			<div class="row">
				<div class="col-12 bg-primary pt-5">
					<h1 class="display-3 text-center">Disputatio</h1>
				</div>
			</div>
		</div>
	</div>
</div>