<div style="background:rgba(191,172,172,.5);min-height:100vh">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/disputatio">Disputatio</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/disputatio/home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/disputatio/about">About</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/disputatio/games">Games</a>
					</li>
				</ul>
				<form class="form-inline" method="POST" action="/disputatio/search">
					<div class="form-group my-0">
						<input class="mr-sm-2 bg-transparent border-top-0 border-left-0 border-right-0 rounded-0" style="border-bottom:1px solid white" type="text" placeholder="Search" aria-label="Search">
					</div>
					<button type="submit" class="btn btn-outline-success">Search</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="container pt-5" style="background:rgba(28,25,25, .75);min-height:100vh">
		<div class="row" style="color:rgba(20,189,37)">
			<div class="col-12 text-center"><h1 class="display-3">Game <i class="fas fa-gamepad"></i> Library</h1></div>
		</div>
		<hr class="mt-0" style="background-color:rgba(20,189,37)">
		<div class="row row-cols-1 row-cols-lg-2">
			<div class="col mb-4">
				<div class="card h-100">
					<a href="https://mroglan.github.io/game/defense.html"><img src="/images/btdbb2.png" class="w-100"></a>
					<div class="card-body">
						<h3 class="card-title">BTDBB</h3>
						<p class="card-text mb-2 font-weight-normal">Face wave after wave of ferocious barbarians in an attempt to not die a painful death. Explore new terrians, unlock new troops, and
						conquer new adversaries to become chamption of BTDBB!</p>
						<blockquote class="blockquote">
							<p class="mb-0">"Do you wanna know what pure adrenaline looks like... This is what it looks like"</p>
							<footer class="blockquote-footer">Ray Hudson</footer>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100">
					<a href="https://mroglan.github.io/penalty/"><img src="/images/penalty.png" class="w-100"></a>
					<div class="card-body">
						<h3 class="card-title">Penalty Shootout</h3>
						<p class="card-text mb-2 font-weight-normal">Compete against a nearby foe in an epic 1 v 1 penalty shootout. Will you champion against all 
						odds or succumb to defeat in the most important event of your lifetime?</p>
						<blockquote class="blockquote">
							<p class="mb-0">"I tell you what, if Issac Newton was watching this [game], he would be saying boy was i wrong? Astonishing..."</p>
							<footer class="blockquote-footer">Ray Hudson</footer>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100">
					<a href="https://mroglan.github.io/lasergame/index.html"><img src="/images/space.png" class="w-100"></a>
					<div class="card-body">
						<h3 class="card-title">Space Destroyer</h3>
						<p class="card-text mb-2 font-weight-normal">Lead your crew during a series of intense battles only matched by those in Star Wars. Will you 
						survive 12 rounds, facing stronger and more powerful foes each wave? Few have found success, but those which do will never be forgotten.</p>
						<blockquote class="blockquote">
							<p class="mb-0">"AAHHH!!!!!.... Excuse me for being excited people, but we've just witnessed a [explosion] that would wake up a catatonic! 
							Astonishing skill that literally takes the breath away. Phenomenal [shooting] and there's no answer to that... It's pure genius is what it is!"</p>
							<footer class="blockquote-footer">Ray Hudson</footer>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100">
					<a href="https://mroglan.github.io/flapp/flappyBird"><img src="/images/flappy.png" class="w-100"></a>
					<div class="card-body">
						<h3 class="card-title">Flappy Bird</h3>
						<p class="card-text mb-2 font-weight-normal">Play one of the most iconic single player games of all time in an easy to use html environment. Lead 
						your bird through a series of increasingly challenging pipes to earn a score matched by none.</p>
						<blockquote class="blockquote">
							<p class="mb-0">"They tell me that all [games] are equal in the eyes of god but this [game] seriously makes you think about those words."</p>
							<footer class="blockquote-footer">Ray Hudson</footer>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="bg-secondary">
		<div class="row d-flex justify-content-around text-light">
			<div class="col-sm-4 text-center">BOB Inc.</div>
			<div class="col-sm-4 text-center">bobhascome@gmail.com</div>
			<div class="col-sm-4 text-center">Copyright 2020</div>
		</div>
	</footer>
</div>