.message-box {
	background-color: rgba(238, 246, 241);
	border-radius: 30px;
	border: 1px solid black;
	height: 100%;
	padding: 0 5%;
}

.content {
	height: 75%;
}

.writing {
	height: 25%;
}

.writing textarea {
	width: 100%;
}

.message {
	max-width: 75%;
	clear: both;
	font-size: 1.25rem;
}

.message div {
	border-radius: 10px;
}

.green {
	background-color: rgba(65, 154, 14, .9);
}

.gray {
	background-color: rgba(191, 188, 175);
}