#user-card a:hover {
	text-decoration: none;
}

.hidden {
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.overflow-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

@media (max-width: 1200px) {
	#right-sidebar {
		order: 2;
	}
	#left-sidebar {
		order: 1;
	}
	#center {
		order: 3;
	}
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.carousel-control-prev, .carousel-control-next {
	height: 50%;
}

.post-content, .reply-content, .share-content {
	cursor: pointer;
	pointer-events: auto;
}