
#profile-header {
	background-color: rgba(25, 97, 169, .8);
}

.friend-button {
	position: absolute;
	right: -2rem;
	bottom: 1rem;
}

.contact-btn {
	position: absolute;
	right: -2rem;
	bottom: 0;
}

#friend-btn-holder, #contact-btn-holder {
	position: relative;
}
